@use "../../functions" as fnc;

.shortener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-neutral-250);
  // background-image: linear-gradient(
  //   to bottom,
  //   var(--white) fnc.rem(40),
  //   var(--white) fnc.rem(80),
  //   var(--color-neutral-250) fnc.rem(80),
  //   var(--color-neutral-250) 100%
  // );
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: fnc.rem(-77);
    background-image: url(../../images/bg-shorten-mobile.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: var(--color-primary-200);
    border-radius: fnc.rem(10);
    min-width: fnc.rem(327);
    padding: fnc.rem(24);
    z-index: 2;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .input_wrapper {
    width: 100%;
  }

  &__input {
    width: 100%;
    height: fnc.rem(48);
    border-radius: fnc.rem(5);
    border: none;
    font: inherit;
    padding: 0 1rem;
    transition: all 250 ease-in;
    outline-color: var(--color-primary-100);

    &.error {
      // border: 2px solid var(--color-secondary);
      outline: var(--color-secondary);
      &::placeholder {
        color: var(--color-secondary);
      }
    }
  }

  &__error {
    color: var(--color-secondary);
    font-size: fnc.rem(12);
    font-style: italic;
    align-self: flex-start;
  }

  &__button {
    width: 100%;
    height: fnc.rem(48);
    background-color: var(--color-primary-100);
    border-radius: fnc.rem(5);
    border: none;
    font: inherit;
    font-weight: 700;
    color: var(--white);
    &.active {
    }
  }
}

.results_wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.results {
  margin-top: fnc.rem(24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  min-width: fnc.rem(327);
  min-height: fnc.rem(155);
  border-radius: fnc.rem(10);
  padding-top: fnc.rem(24);
  padding-bottom: fnc.rem(24);
  animation: fade-in 1000ms;

  @keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }

  &__original {
    padding-left: fnc.rem(24);
    padding-right: fnc.rem(24);
    word-wrap: break-word;
    word-break: break-all;
    font-size: fnc.rem(16);
  }

  hr {
    border: none;
    width: 100%;
    height: fnc.rem(1);
    background-color: var(--color-neutral-100);
    margin: fnc.rem(15) 0;
  }

  &__shortened {
    display: flex;
    flex-direction: column;
    gap: fnc.rem(15);
    padding-left: fnc.rem(24);
    padding-right: fnc.rem(24);
    font-size: fnc.rem(16);
    color: var(--color-primary-100);
  }

  &__button_copy {
    background-color: var(--color-primary-100);
    border: none;
    font: inherit;
    font-size: fnc.rem(16);
    font-weight: 700;
    color: var(--white);
    padding: fnc.rem(12) 0 fnc.rem(12);
    border-radius: fnc.rem(5);
    transition: background-color 250ms ease-in;
    &.active {
      background-color: var(--color-primary-200);
    }
  }
}
