@use "./functions" as fnc;

:root {
  --cyan: hsl(180, 66%, 49%);
  --darkViolet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayishViolet: hsl(257, 7%, 63%);
  --verDarkBlue: hsl(255, 11%, 22%);
  --veryDarkViolet: hsl(260, 8%, 14%);
  --white: hsl(0, 0%, 100%);
  --newGrayishViolet: hsl(230, 25%, 95%);

  --font: "Poppins", sans-serif;

  --color-primary-100: var(--cyan);
  --color-primary-200: var(--darkViolet);
  --color-secondary: var(--red);
  --color-neutral-100: var(--gray);
  --color-neutral-200: var(--grayishViolet);
  --color-neutral-250: var(--newGrayishViolet);
  --color-neutral-300: var(--verDarkBlue);
  --color-neutral-400: var(--veryDarkViolet);
  --color-hover: hsl(179, 56%, 75%);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  font-size: fnc.rem(18);
  line-height: 1.1;

  &.open {
    overflow: hidden;
  }
}

a,
a:hover,
a:active {
  text-decoration: none;
}

//Visibility
.hide-for-mobile {
  //hide for tablet or mobile
  @include fnc.breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop or laptop
  @include fnc.breakpoint-up(large) {
    display: none;
  }
}

.container {
  padding: 0 fnc.rem(24);

  @include fnc.breakpoint-up(large) {
    padding: 0;
  }
}

.limit-wrapper {
  max-width: fnc.rem(1440);
  margin: 0 auto;

  @include fnc.breakpoint-down(small) {
    overflow: hidden;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

.App {
  width: min(100vw, 1440px);
  overflow: hidden;
}

button {
  transition: all 250ms ease-in;
  &:hover {
    background-color: var(--color-hover);
  }
}
